/* --
===============
 Overall Styles
===============
-- */

* {
    box-sizing: border-box;
}

h1,
h2,
h3, {
    font-family: 'Lato', sans-serif;
    color: #999;
}

body {
    background-color: #F8F8F8;
}

p,
a,
span {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0px;
}

img {
    max-width: 100%;
}

/* --
===============
 Layout Styles
===============
-- */

.main-header {
    margin-bottom: 20px;
}

.name a,
.main-nav a {
    display: block;
    text-align: center;
}

.main-nav a {
    padding: 15px;
}

.main-nav li {
    background-color: #fff;
    font-weight: 900;
    margin: 10px 15px;
    text-transform: uppercase;
}

.banner {
    text-align: center;
}

.profile-img {
    max-width: 60%;
}

.banner-tagline,
.contact-tagline {
    line-height: 1.5em;
    padding: 15px;
    color: #989898;
}

#portfolio {
    text-align: center;
    background-color: #fff;
    padding-bottom: 50px;
}

.section-heading {
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 900;
    color: #787878;
}

.portfolio-heading {
    font-weight: normal;
    padding-top: 10px;
}

.portfolio-description {
    line-height: 1.5em;
    padding: 10px;
    color: #808080;
}

.main-contact {
    padding: 1em;
}

.contact-links li {
    padding-bottom: 15px;
    color: #989898;
}

.contact-links li a {
    padding-left: 15px;
    font-weight: 900;
}

.footer {
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 10px;
}

.footer-name {
    font-weight: 900;
    float: left;
}

.footer-nav {
    display: none;
}

.mobile-nav {
    padding-top: 20px;
    float: right;
    font-weight: 900;
}


.main-contact {
    text-align: center;
}

.col {
    padding: 1em 1em;
}

/* --
===============
 Float Clerfix
===============
-- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* --
===============
 Media Queries
===============
-- */

@media screen and (min-width: 768px) {

    .main-nav li {
        display: inline-block;
        background-color: transparent;
    }

    .main-nav {
        text-align: center;
    }

    .banner,
    .col {
        padding-left: 2em;
        padding-right: 2em;
    }

    .profile-img {
        float: right;
        width: 40%;
    }

    .banner-tagline {
        vertical-align: top;
        text-align: left;
        padding-right: 1em;
        padding-top: 0;
        margin-top: -2px;
        float: left;
        width: 60%;
    }

    .col {
        float: left;
        width: 50%;
    }

    .contact-tagline {
        padding: 0 125px 20px;
    }

    .mobile-nav {
        display: none;
    }

    .footer-name,
    .footer-nav {
        margin-top: 20px;
    }

    .footer-nav {
        display: inline-block;
        float: right;
        text-transform: uppercase;
        font-weight: 900;
    }

    .footer-nav li {
        float: left;
        padding-right: 1em;
    }

}

@media screen and (min-width: 1024px) {

    .col {
        width: 33.333333%;
    }

    .name {
        float: left;
        padding-left: 32px;
    }

    .main-nav {
        float: right;
        padding-right: 0px;
    }

    .main-nav a {
        float: left;
    }

    .banner-tagline {
        padding-left: 0px;
    }

}

