/* --
===============
 Overall Styles
===============
-- */

* {
    box-sizing: border-box;
}

h1,
h2,
h3, {
    font-family: 'Lato', sans-serif;
    color: #999;
}

h3 {
    font-weight: normal;
}

body {
    background-color: #F8F8F8;
}

p,
a,
span {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0px;
}

img {
    max-width: 100%;
}

/* --
===============
 Layout Styles
===============
-- */

.main-header {
    padding-top: 15px;
    margin-bottom: 30px;
}

.name a,
.main-nav a {
    display: block;
    text-align: center;
}

.main-nav a {
    padding: 15px;
}

.main-nav li {
    background-color: #fff;
    font-weight: 900;
    margin: 10px 15px;
}

.banner {
    padding-top: 30px;
    padding-bottom: 30px;
}

.profile-img {
    max-width: 60%;
}

.tagline {
    line-height: 1.5em;
    padding: 15px;
    color: #989898;
}

#portfolio {
    text-align: center;
    background-color: #fff;
    padding-bottom: 50px;
}

.section-heading {
    padding-top: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: #787878;
}

.portfolio-description {
    padding: 15px;
    color: #808080;
}

.contact {
    padding: 1em;
}

.contact-links li {
    padding-bottom: 15px;
    color: #989898;
}

.contact-links li a {
    padding-left: 15px;
    font-weight: 900;
}

.footer {
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 10px;
}

.footer-name {
    font-weight: 900;
    float: left;
}

.footer-nav {
    display: none;
}

.mobile-nav {
    padding-top: 20px;
    float: right;
    font-weight: 900;
}

.banner,
.contact {
    text-align: center;
    margin-bottom: 30px;
}

.col {
    padding: 1em 1em;
}

